# Backups
backups/

# Secrets and generated configs
.env
proxy.env
config/wazuh_indexer/internal_users.yml
config/wazuh_dashboard/wazuh.yml
config/wazuh_cluster/wazuh_manager.conf
config/filebeat/filebeat.yml

# Generated TLS certificates
config/wazuh_indexer_ssl_certs/
config/nginx/ssl/
__pycache__/

